URxvt*font: xft:DejaVu Sans Mono:size=10, xft:JetBrainsMono Nerd Font Mono:size=10


URxvt*foreground: #ffffff
URxvt*depth: 32
URxvt*background: [85]#000000

URxvt*scrollBar: false
URxvt*letterSpace: 0
URxvt*saveLines: 10000

URxvt.iso14755: false